@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
        font-family: "Inter", sans-serif;

    
    
}

.tabela{
    margin: 70px;
}
h1, p{
    text-align: center;
}
p{
    margin-bottom: 30px;
}
table .tabela{
    background-color: black;
}

svg .bi-arrow-left-circle-fill{
background-color: #050B78;
}
.editar, .localizar, .apagar{
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
}
.editar{
    background-color: white;
    border: 2px solid #f7f700;
    transition: 0.15s ease-in-out;
}
.localizar{
    background-color: white;
    border: 2px solid #29b905;
    transition: 0.15s ease-in-out;
    
}
.apagar{
    background-color: white;
    border: 2px solid #d60000;
    transition: 0.15s ease-in-out;
}
.editar:hover{
    background-color: #f7f700;
}
.localizar:hover{
    background-color: #29b905;
    color: white;
}
.apagar:hover{
    background-color: #d60000;
    color: white;
}.tabela h1{
        font-family: "Poppins";
    font-weight: 600;
    padding: 1rem 0rem;
    color: #02064e;
}

